<div id="<%= dom_id payment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= payment.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= payment.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Payment method:</strong>
    <%= payment.payment_method %>
  </p>

</div>
