<div class="flex" id="<%= dom_id feature %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Feature name:</strong>
    <%= feature.feature_name.humanize %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Link:</strong>
    <%= feature.link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reward:</strong>
    <%= feature.reward %>
  </p>

</div>
