<div class="flex">
  <div>
    <button onclick="fetchAllContents('<%= @feature.feature_name %>')" id="startButton" class="btn btn-primary">Start Watching</button>
    <iframe id="ytplayer" type="text/html" width="640" height="360"
            src=""
            frameborder="0"></iframe>
  </div>

  <div class="flex items-center justify-center w-full p-5 font-large">
    <p>You will get <span id="creditReward"></span> credits after <span id="timeLeft"></span> seconds</p>
  </div>
</div>
