<div class="flex flex-col">
  <div>
    <button onclick="" id="likeButton" type="button" class="text-white bg-gradient-to-br from-red-500 to-pink-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 disabled">Start Liking</button>
  </div>
</div>

<script>
  let videoData = [];
  let index = 0;
  const userId = <%= current_user.id %>;

  fetchAllContentsForLikes();
</script>
