<div class="w-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Features" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Features</h1>
    <%= link_to "New feature", new_feature_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="features" class="min-w-full">
    <% @features.each do |feature| %>
      <%= render feature %>
      <p>
        <%= link_to "Show this feature", feature, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>

  <iframe id="ytplayer" type="text/html" width="640" height="360"
          src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"
          frameborder="0"></iframe>
</div>
